---
import Dingbu from "../components/Dingbu.astro";
const { biaoti } =Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{biaoti}</title>
</head>
<body>
   </Dingbu>
   <zhuti> </zhuti>
   <yejiao> </yejiao>
</body>
</html>